---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroAlt } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
	</head>

	<body>
		<Header />

		<main>
			<article class="post">
				<header>
					<h1>{title}</h1>
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</header>

				<figure class="figure">
					<img width={800} height={450} src={heroImage} alt={heroAlt} />
				</figure>

				<div class="prose">
					<p>
						<strong>{description}</strong>
					</p>

					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>